 *{
    padding-left: 1%;
    padding-right: 1%;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 body {
    background-color: #e4e4e4;
    
 }

header h1{
    position: fixed;
    top: 5%;
    left: 20%;
    translate: -50% -50%;
}



/* första sidan hobis översikt och bild */
.hobi-list{
    display: flex;
    align-items: top;
    padding-top: 10%;
    justify-content:center;
}

.hobbis p{
    margin-bottom: -2px;
    text-decoration: underline;
    text-decoration-color: #000;
}

img{
    max-inline-size: 100%;
    height: auto;
    display: block;
    border-radius: 15%;
}

@media(max-width: 992px) {
    .hobi-list{
        display: flex;
        flex-direction: column;
        padding-top: 30%;
        padding-left: 5%;
    }
    
    img{
        width: 50%;
    }
}