 *{
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 body {
    width: 100%;
    margin: auto; 
}

header{
    background-color: #ffffff;
    position: fixed;
    display: flex;
    align-items: baseline;
    top: 0;
    left: 0;
    width: 100%;
}

header h1{
    padding-left: 5%;
    width: 50%;
}

header h1 a{
    text-decoration: none;
    color: #000;
}

header .navbar{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    gap: 16px; 
}

.navbar a{
    text-decoration: none;
    color: #000;
}


/* Sektion hobis och bild */
.hobby-list{
    display: flex;
    align-items: top;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 12%;
    padding-bottom: 10%;
    justify-content:center;
    background-color: #e0c775;
}

.hobbies h3{
    text-decoration: underline;
}

.hobbies p{
    margin-bottom: -2px;
    text-decoration: underline;
    text-decoration-color: #000000;
}

img{
    max-inline-size: 100%;
    height: auto;
    display: block;
    border-radius: 10%;
    margin-left: 5%;
}

@media(max-width: 992px) {
    .hobby-list{
        display: flex;
        flex-direction: column;
        padding-top: 35%;
        padding-left: 5%;
    }
    
    img{
        width: 50%;
    }
}

/* Secktion CV & erfaranheter */
.CV-list{
    color: aliceblue;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 12%;
    padding-bottom: 20%;
    background-color: #3560a0;
    width: 100%;
}

.CV-list h3{
    text-decoration: underline;
    text-decoration-color: #ffffff;
    font-weight: bold;
}

.CV{
    display: flex;
    flex-direction: row;
    gap: 100px;
    text-align: center;
}

.CV div{
    background-color: #e0c775;
    border-radius: 20px;
}

.CV p{
    color: #000;
    margin: 10px;
}

@media(max-width: 662px) {
    .CV{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .CV p{
    margin: 0px;
}
}

/* Secktion CV & erfaranheter */
.why-list{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 12%;
    padding-bottom: 20%;
    background-color: #e0c775;
    width: 100%;
}

.why-list h3{
    text-decoration: underline;
}

.why{
    display: flex;
}

