 *{
    padding-left: 1%;
    padding-right: 1%;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 body {
    background-color: #e4e4e4;
 }

header{
    background-color: #ffffff;
    position: fixed;
    display: flex;
    align-items: baseline;
    top: 0;
    left: 0;
    width: 100%;
}

header h1{
    padding-left: 5%;
    width: 50%;
}

header h1 a{
    text-decoration: none;
    color: #000;
}

header .navbar{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    gap: 10px;    
}


/* första sidan hobis översikt och bild */
.hobby-list{
    display: flex;
    align-items: top;
    padding-top: 13%;
    justify-content:center;
}

.hobbies p{
    margin-bottom: -2px;
    text-decoration: underline;
    text-decoration-color: #000;
}

img{
    max-inline-size: 100%;
    height: auto;
    display: block;
    border-radius: 10%;
}

@media(max-width: 992px) {
    .hobby-list{
        display: flex;
        flex-direction: column;
        padding-top: 35%;
        padding-left: 5%;
    }
    
    img{
        width: 50%;
    }
}